.appScoreRule {
    margin: 20px 0 80px;
    padding: 0;
    font-size: 15px;
    p {
        padding: 0 16px;
        margin: 6px 0;
        line-height: 22px;
    }
    .title {
        color: #FFBD00;
        font-weight: bold;
    }
    .info {
        color: #666;
        margin-bottom: 10px;
    }
}